@using Deneme.Areas.Identity.Data;
@using Deneme.Data;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Http;
@model IEnumerable<Deneme.Models.Appointment>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject DenemeDbContext k

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    

        <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PatientName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Doctor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AppointmentDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor.DoctorId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department.DepartmentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AppointmentDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    


