@model IEnumerable<Deneme.Models.Appointment>

@{
    ViewData["Title"] = "Randevularım";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3>Randevularım</h3>
<hr />
<p>
    <a asp-action="Create">Yeni Randevu Al</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstAndLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstAndLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AppointmentId">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointmentId">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
